body{
	-webkit-user-select: none;       
	-moz-user-select: none;
	-ms-user-select: none;
}

button{
	background-color: transparent;
	border: 1px solid black;
	border-radius: 10px;
	margin: 5px;
	}
	
button:hover{
	color: white;
	background-color: black;
}

#fav:hover{
	background-color: #fc0 !important;
}

#like:hover{
	background-color: #09f !important;
}

button:focus {outline:0;}
	
#first-row{
	margin-top: 10px;
	margin-bottom: 10px;
}

#header{
	border-bottom: 1px solid black;
}

h1{
	cursor: default;
	font-size: 60px;
}

p{
	cursor: default;
}

.one{
	margin-left: 150px;
	margin-top: 90px;
	font-size: 40px;
}

h2{
	cursor: default;
	font-size: 50px;
	margin: 20px;
}

.news{
	margin-top: 2%;
}

.news:hover{
	border: 1px solid black;
	background-color: #EEE;
}

img{
	margin: 5px;
}

a{
	text-decoration: none !important;
	color: black;
	font-size: 20px;
}

.star-btn:hover{
	color: #fc0;
}

.star-btn{
	margin-left: 20px;
	color: #ddd;
}

.like-btn {
	margin-left: 100px;
	color: #ddd;
	font-size: 50px;
	vertical-align: -130px;
}

.like-btn:hover{
	color: #09f;
}

.secondary{
	margin-top: 90px;
	font-size: 40px;
	margin-left: 5px;
}